@font-face {
  font-family: 'Inter-UI';
  src: url('Inter-UI-Regular.woff2');
  font-weight: normal;
}
@font-face {
  font-family: 'Inter-UI';
  src: url('Inter-UI-Bold.woff2');
  font-weight: bold;
}
